{% extends 'base.html' %}

{% block content %} 
<body>
  <div class="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/Images/FAU.jpg" alt="Slide 1">
        <div class="carousel-caption">
          <a class="Slides" href="{{ url_for('site.ncaambnews') }}">
            FAU Final Four Preview
          </a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../static/Images/Uconn.jpg" alt="Slide 2">
        <div class="carousel-caption">
          <a class="Slides" href="{{ url_for('site.ncaambnews') }}">
            Can UCONN be Stopped?
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/Images/Warriors.jpg" alt="Slide 3">
        <div class="carousel-caption">
          <a class="Slides" href="{{ url_for('site.nbanews') }}">
            Warriors Surging at Right Time
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/Images//WS.jpg" alt="Slide 4">
        <div class="carousel-caption">
          <a class="Slides" href="{{ url_for('site.mlbnews') }}">
            World Series Odds Preview
          </a>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>  
  <div class="row">
    <div class="col-4">
      <div class="Box1">
        <a href="{{ url_for('site.nflnews') }}">
        <img src="../static/Images/Box1.jpg">
        </a>
        <div class="text-top-left">NFL Biggest Free Agency Signings</div>
  <div class="text-bottom-right">By Mike Mikerson</div>
      </div>
    </div>
    <div class="col-4">
      <div class="Box2">
        <a href="{{ url_for('site.wnbanews') }}">
        <img src="../static/Images/Box2.jpg">
        </a>
        <div class="text-top-left">Caitlin Clark makes History</div>
  <div class="text-bottom-right">By Tony Longface</div>
      </div>
    </div>
    <div class="col-4">
      <div class="Box3">
        <a href="{{ url_for('site.boxingnews') }}">
        <img src="../static/Images/Box3.jpg">
        </a>
        <div class="text-top-left">Garcia Vs Davis Preview</div>
  <div class="text-bottom-right">By Lloyd Aprilweather</div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-6">
      <div class="Lowbox1">
        <a href="{{ url_for('site.mlbnews') }}">
        <img src="../static/Images/lowbox1.jpg">
        </a>
        <div class="text-top-left">Opening Day Preview</div>
        <div class="text-bottom-right">By Betty Baseball</div>
        
      </div>
    </div>
    <div class="col-6">
      <div class="Lowbox2">
      <a href="{{ url_for('site.nbanews') }}">
        <img src="../static/Images/lowbox2.jpg">
      </a>
        <div class="text-top-left">NBA Playoff Predictions</div>
        <div class="text-bottom-right">By Natalie Pinky-Toe</div>
      </div>   
    </div>
    <div class="row">
      <div class="AD">
      </div>
      </div>
    <div class="row">
      <div class="col-6">
        <h2 class="WhySU" id="header">
          Our Mission
        </h2>
        <div class="mission">
          <p class="statement">
            Our mission is to provide sports enthusiasts with a comprehensive platform for viewing moneylines and calculating potential parlay winnings, while keeping them informed and up to date on the latest betting news.
            We strive to deliver an exceptional user experience through a user-friendly interface and accurate, up-to-the-minute data. 
            Our goal is to empower our users with the knowledge and tools necessary to make informed betting decisions and enhance their overall sports viewing experience.
          </p>
        </div>
      </div>
      <div class="col-6">
        <h1 class="WhySU">
          Sign Up Today!
        </h2>
        <div class="row">
        <h4 class="reasons">
          Stay Updated
        </h4>
        <span>Articles that include expert analysis on different sports, teams, players and
          provides insights on recent performances, injury reports, and other key factors that may influence the outcome of a game.</span>
        </div>
        <div class="row">
          <h4 class="reasons">
            Bet Smarter
          </h4>
          <span> By seeing the odds for different games and events, bettors can get a sense of which teams or players are favored to win.
             This information can help bettors make more strategic bets based on their own assessment of the odds.</span>
          </div>
          <div class="row">
            <h4 class="reasons">
              Win Bigger
            </h4>
            <span>Articles and odds can be a great resource for bettors looking to make smarter bets and potentially win more money.
               By providing relevant data, expert analysis, and user feedback, we help bettors increase their chances of making profitable bets.</span>
            </div>
      </div>
    </div>  
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="footer">
          <a href="" class="link" id="footerlinks">
            Contact
          </a>
          <a href="" class="link" id="footerlinks">
            About Us
          </a>
          <a href="" class="link" id="footerlinks">
            FAQ
          </a>
          <a href="" class="link" id="footerlinks">
            Careers
          </a>
      </div>
    </div>  
    </div> 
    <div class="col-4">
      <div class="socials">
        <a style="color: #3b5998;" href="#" role="button"><i class="fa fa-facebook-f fa-lg"></i>
        </a>
      
      <a style="color: #55acee;" href="#" role="button"><i class="fa fa-twitter fa-lg"></i>
      </a>
      
      <a style="color: #ac2bac;" href="#" role="button"><i class="fa fa-instagram fa-lg"></i>
      </a>
          </div>
        </div>
      </div>
</body>
<script src="{{ url_for('static', filename='../static/js/main.js') }}"></script>
</html>
{% endblock %}