{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/news.css">
<body>
    <div class="newstop">
        <h1>MLB News</h1> 
    </div>
    <div class="soon">

    </div>
    <div Id="wrapper">
        <section>
            <ul id="a">
              <li>
                <a href="">
                  <img src="../static/Images/baseball.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                      <h3 class="title">What will Angels do with Shoehei?</h3>
                      <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../static/Images/baseball1.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                    <h3 class="title">De la Cruz Shines in Primetime</h3>
                    <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../static/Images/baseball2.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                    <h3 class="title">Yankees Getting Healthy at Right Time</h3>
                    <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
            </ul>
          </section>
      </div>
</body>
</html>
{% endblock %}