{% extends 'base.html' %}

{% block content %} 
<link rel="stylesheet" href="../static/css/news.css">
<body>
    <div class="newstop">
        <h1>NBA News</h1> 
    </div>
    <div class="soon">
    </div>
    <div Id="wrapper">
        <section>
            <ul id="a">
              <li>
                <a href="">
                  <img src="../static/Images/basketball.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                      <h3 class="title">Harden & Lillard Predictions</h3>
                      <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../static/Images/basketball1.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                    <h3 class="title">Rockets Spend Big</h3>
                    <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../static/Images/basketball2.jpg" alt="" width=180px id="pic">
                  <!-- Wrapped into div -->
                  <div class="details">
                    <h3 class="title">Do the Lakers have enough to get Lebron another ring?</h3>
                    <p class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni quos nam quia rerum? Optio esse, non accusamus magni excepturi ea aut? Hic voluptatum animi quis omnis vel ullam aperiam?</p>
                  </div>
                </a>
              </li>
            </ul>
          </section>
      </div>
</body>
</html>
{% endblock %}